@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


/*----------------------
   Header section
   -----------------------  */
* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  

}

.navbar {

  height: 60px;
  background-color: #E8E8E8;
  position: relative;

}


.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0d7b8a;
}

.menu-icon {
  display: none;
  font-size: 30px;

}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;


}

ul li:not(:last-child) {
  margin-right: 60px;
}

ul a {
  font-size: 16px;
  font-weight: 400;
  color: #1B1A21;
  text-decoration: none;
}

ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

ul a.active::after {
  /* content: ''; */
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;

}

ul a:hover {
  color: #0b73f1;
  text-decoration: none;
}

@media (max-width:768px) {
  ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;

  }

  .nav-element {

    position: absolute;
    right: 0;
    top: 60px;
    background-color: #99d6fb;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 2;
  }

  .nav-element.active {
    width: 270px;
  }

  .nav-element ul {
    display: flex;
    flex-direction: column;

  }

  .nav-element ul li {
    margin-right: unset;
    margin-top: 22px;
    text-align: center;
  }
}


/* hero-section  */

.button {
  width: 20px;
}
.card{
  border: 2px solid rgb(15, 165, 140);
  margin-bottom: 10px;
  padding-left: 10px;
}

/* about-section  */
.about-section {
  background-color: #F9FCFC;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='331' height='331' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23F7FAFB' stroke-width='1.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23F4F7F9'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}



.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CreateRecord {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  min-height: 100vh;
  color: beige;
}

.ShowRecordDetails {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);;
  min-height: 100vh;
  color: beige;
}

.UpdateRecordInfo {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a4972 0%, #009ffd 74%);
  min-height: 100vh;
  color: beige;
}

.ShowRecordList {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: beige;
}


.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}


.card-container {
  width: 250px;
  border: 1px solid rgb(165, 165, 165);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}


.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 a {
  font-size: 15px;
  font-weight: 500;
  color:#ffff;
  text-decoration: none;
}


.desc h3, p {
  font-weight: 600;
  

}

.desc h3,p  {
  color: #01060a;
  font-size: 1em;
  padding: 6px 0 6px 0;
}

.container{
   color: #1b8a84;
}





